body {

  background-color: #1c1d1c;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  color: #9E949C;
  font-size: 70%;

}

div {

  text-align: center;
}

#CenterSection {
  
  background-color: #35363d;
  align-content: center;
  margin: 0 auto;
  width: 341px;
  height: 100vh;

}

/*phone version*/
@media screen and (max-width: 590px) {
	
	#CenterSection {
		
		width: 100%;
		
	}
	
	
}

#LoginSection {
  
  background-color: #35363d;
  align-content: center;
  margin: 0 auto;

}

#CryptoLogo {

	align-content: center;
	
	background-color: #35363d;
	
	
	
}

#CreateAccount {
	
	float: left;
}

#username, #password {
	background-color: #35363d;
	border: none;
    border-bottom:solid 1px #fffafa;
    outline: none; /* prevents textbox highlight in chrome */
    color: #9E949C;
    
}



#LogIn {
	border: none;
    background-color: #aba3a4;
    height:50px;
    width:100px;
    cursor:pointer;
    color:#ffffff;
    float: right;
    
}

#LogIn:hover {
	
	background-color: #d4d5da;
	
}


p {
	font-family: Helvetica, Arial, sans-serif;
	color: #9E949C;
	font-size: 70%;
}